Repository beyzayurukakar-p/ideasoft-case: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn lint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: yarn typecheck
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: yarn commitlint --edit

fix: typing fix
  src/admin-panel/components/category-input/CategoryInput.tsx
  src/admin-panel/components/category-pills/CategoryPills.tsx
  src/admin-panel/hooks/useProductForm.ts
Due: lint, types

feat: applied category functionality to product as well
  src/admin-panel/components/list-header/CategoryListHeader.tsx
  src/admin-panel/components/list-header/ProductListHeader.tsx
  src/admin-panel/components/list-header/listHeaderStyles.ts
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/hooks/useCategoryForm.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/admin-panel/services/addCategory.ts
  src/admin-panel/services/addProduct.ts
  src/admin-panel/services/readCategories.ts
  src/admin-panel/services/readProducts.ts
  src/admin-panel/services/updateCategory.ts
  src/admin-panel/services/updateProduct.ts
  src/admin-panel/states/categoryListeners.ts
  src/admin-panel/states/categorySlice.ts
  src/admin-panel/states/productListeners.ts
  src/admin-panel/states/productSlice.ts
  src/admin-panel/types/category.ts
  src/admin-panel/types/product.ts
Due: lint, types

fix: fixing some issues
  src/admin-panel/components/category-input/CategoryInput.tsx
  src/admin-panel/components/category-input/CategorySearch.styles.ts
  src/admin-panel/components/category-input/CategorySearch.tsx
  src/admin-panel/hooks/useProductForm.ts
  src/common/components/inputs/AppTextInput.tsx
Due: lint, types

feat: added product image in list item
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/services/addProduct.ts
  src/admin-panel/services/getImageUrl.ts
  src/admin-panel/services/readProducts.ts
  src/admin-panel/services/updateProduct.ts
  src/admin-panel/types/product.ts
  src/common/services/client.ts
Due: lint, types

feat: added images to product detail screen
  src/admin-panel/screens/ProductDetailScreen.styles.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
Due: lint, types

feat: added image input to product form
  src/admin-panel/components/image-input/ImageInput.styles.ts
  src/admin-panel/components/image-input/ImageInput.tsx
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/ProductFormScreen.tsx
  src/admin-panel/types/product.ts
Due: lint, types

feat: implemented picking and adding images
  package.json
  src/admin-panel/components/image-input/ImageInput.tsx
  src/admin-panel/components/image-input/pickImage.ts
  src/admin-panel/components/image-input/types.ts
  src/admin-panel/components/product-item/ProductItem.styles.ts
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/services/addProduct.ts
  src/admin-panel/services/updateProduct.ts
  src/admin-panel/types/product.ts
  yarn.lock
Due: lint, types

feat: fixes and styling touches
  src/admin-panel/components/image-input/ImageInput.styles.ts
  src/admin-panel/components/image-input/ImageInput.tsx
  src/admin-panel/components/product-item/ProductItem.styles.ts
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/hooks/useCategoryForm.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.styles.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/ProductFormScreen.tsx
Due: lint, types

feat: removed undeveloped feature entrypoint
  src/admin-panel/screens/CategoryDetailScreen.tsx
Due: lint

docs: added docs
  docs/keyNotes.md
  docs/technicalOverview.md
  docs/userFlow.md
Due: none

docs: added installation readme
  README.md
Due: none

docs: updated docs
  README.md
  docs/keyNotes.md
  docs/technicalOverview.md
Due: none

refactor: cleaning commented code & memoizing functions in frequently renderd screens
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/admin-panel/states/categorySlice.ts
  src/admin-panel/states/productSlice.ts
Due: lint, types

test: testing setup and landing screen tests
  jest/setupFile.ts
  package.json
  src/__tests__/landing.test.tsx
  src/common/utils/testUtils.tsx
  yarn.lock
Due: lint, types

test: mocked axios and wrote tests
  src/__mocks__/axios.ts
  src/__tests__/category.test.tsx
  src/__tests__/landing.test.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/common/components/feedbacks/FullscreenLoading.tsx
  src/common/components/feedbacks/FullscreenRetry.tsx
  src/common/test-utils/request-mock-data/getCategories.ts
  src/common/test-utils/request-mock-data/getProducts.ts
  src/common/test-utils/testUtils.tsx
Due: lint, types

test: completed category list tests
  jest/setupFile.ts
  src/__tests__/category.test.tsx
  src/admin-panel/components/category-item/CategoryItem.tsx
  src/admin-panel/components/delete-warning-modal/DeleteWarningModal.tsx
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/common/components/buttons/AppButton.tsx
  src/common/components/buttons/FloatingAddButton.tsx
  src/common/components/swipeable/SwipeableWithDelete.tsx
Due: lint, types

test: added product list tests
  src/__tests__/product.test.tsx
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/screens/ProductScreen.tsx
Due: lint

docs: edited technicalOverview.md
  docs/technicalOverview.md
Due: none

docs: updated technical overview document
  docs/technicalOverview.md
Due: none

fix: fixed error logging
  src/common/services/tryCalling.ts
Due: lint, types

feat: webview added to storefront
  package.json
  src/storefront/screens/home/HomeScreen.tsx
  yarn.lock
Due: lint

docs: updated userFlow docs
  docs/userFlow.md
Due: none

test: fixed failing tests and open handles
  src/__mocks__/react-native-webview.tsx
  src/__tests__/landing.test.tsx
  src/common/components/swipeable/SwipeableWithDelete.tsx
  src/common/services/tryCalling.ts
  src/storefront/screens/home/HomeScreen.tsx
Due: lint, types
