Repository beyzayurukakar-p/ideasoft-case: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn lint {staged_files}

types:
  run: yarn typecheck

feat: designed CategoryDetailScreen
  App.tsx
  package.json
  src/admin-panel/components/detail-actions/DetailActions.styles.ts
  src/admin-panel/components/detail-actions/DetailActions.tsx
  src/admin-panel/screens/CategoryDetailScreen.styles.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/detailScreen.styles.ts
  src/common/components/button/AppButton.styles.ts
  src/common/components/button/AppButton.tsx
  src/common/components/button/TouchableText.styles.ts
  src/common/components/button/TouchableText.tsx
  src/common/styling/colors.ts
  src/common/utils/dateUtils.ts
  yarn.lock
Due: lint, types

feat: added delete to category detail screen and warning before delete
  src/admin-panel/components/category-item/CategoryItem.tsx
  src/admin-panel/components/delete-warning-modal/DeleteWarningModal.styles.ts
  src/admin-panel/components/delete-warning-modal/DeleteWarningModal.tsx
  src/admin-panel/components/detail-actions/DetailActions.styles.ts
  src/admin-panel/components/detail-actions/DetailActions.tsx
  src/admin-panel/hooks/useWarnedDelete.tsx
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/common/styling/colors.ts
Due: lint, types

feat: designed product detail screen + some other styling
  src/admin-panel/components/detail-actions/DetailActions.styles.ts
  src/admin-panel/components/detail-actions/DetailActions.tsx
  src/admin-panel/components/product-item/ProductItem.tsx
  src/admin-panel/screens/CategoryDetailScreen.styles.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.styles.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/detailScreen.styles.ts
  src/common/components/button/TouchableText.styles.ts
  src/common/navigation/adminPanelNavigator.tsx
  src/common/styling/colors.ts
Due: lint, types

refactor: reorganizing button comps
  src/admin-panel/components/delete-warning-modal/DeleteWarningModal.tsx
  src/admin-panel/components/detail-actions/DetailActions.tsx
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/common/components/buttons/AppButton.styles.ts
  src/common/components/buttons/AppButton.tsx
  src/common/components/buttons/FloatingAddButton.styles.ts
  src/common/components/buttons/FloatingAddButton.tsx
  src/common/components/buttons/TouchableText.styles.ts
  src/common/components/buttons/TouchableText.tsx
Due: lint, types

chore: removing code that was used for checking
  src/admin-panel/screens/ProductDetailScreen.tsx
Due: lint

feat: setup category form screen
  src/admin-panel/screens/CategoryFormScreen.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/common/navigation/adminPanelNavigator.tsx
Due: lint

refactor: extracted detail screen fields into a component
  src/admin-panel/components/detail-fields/Separator.tsx
  src/admin-panel/components/detail-fields/StatusField.tsx
  src/admin-panel/components/detail-fields/TextField.tsx
  src/admin-panel/components/detail-fields/detailFields.styles.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/detailScreen.styles.ts
Due: lint, types

feat: created textinput comp and used it in category form
  src/admin-panel/screens/CategoryFormScreen.styles.tsx
  src/admin-panel/screens/CategoryFormScreen.tsx
  src/common/components/inputs/AppTextInput.styles.ts
  src/common/components/inputs/AppTextInput.tsx
  src/common/styling/colors.ts
Due: lint, types

fix: fixed android styling issue in floating button
  src/common/components/buttons/FloatingAddButton.styles.ts
  src/common/components/buttons/FloatingAddButton.tsx
Due: lint, types

feat: added switch and actions to category form
  src/admin-panel/components/form-actions/FormActions.styles.ts
  src/admin-panel/components/form-actions/FormActions.tsx
  src/admin-panel/screens/CategoryFormScreen.tsx
  src/common/components/inputs/AppSwitch.styles.ts
  src/common/components/inputs/AppSwitch.tsx
  src/common/components/inputs/AppTextInput.tsx
Due: lint, types

feat: addd validation to category form
  src/admin-panel/screens/CategoryFormScreen.tsx
  src/common/components/inputs/AppTextInput.styles.ts
  src/common/components/inputs/AppTextInput.tsx
Due: lint, types

refactor: used one constant for service URLs
  src/admin-panel/services/deleteCategory.ts
  src/admin-panel/services/deleteProduct.ts
  src/admin-panel/services/readCategories.ts
  src/admin-panel/services/readProducts.ts
  src/admin-panel/services/urls.ts
Due: lint, types

feat: developed category add&update services and reducers + refactors
  src/admin-panel/services/addCategory.ts
  src/admin-panel/services/readCategories.ts
  src/admin-panel/services/readProducts.ts
  src/admin-panel/services/updateCategory.ts
  src/admin-panel/states/categoryListeners.ts
  src/admin-panel/states/categorySlice.ts
  src/admin-panel/types/category.ts
  src/admin-panel/types/product.ts
  src/admin-panel/types/typeUtils.ts
Due: lint, types

feat: added success message to tryCalling fn
  src/common/services/constants.ts
  src/common/services/tryCalling.ts
Due: lint, types

fix: changed untyped useDispatch to typed useAppDispatch
  src/admin-panel/components/category-item/CategoryItem.tsx
  src/admin-panel/components/product-item/ProductItem.tsx
Due: lint

chore: adding axios error logging
  src/common/services/tryCalling.ts
Due: lint, types

feat: completed add functionality
  src/admin-panel/screens/CategoryFormScreen.tsx
Due: lint

fix: fixed typing
  src/common/services/tryCalling.ts
Due: lint, types

feat: developed update category functionality
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/CategoryFormScreen.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/services/updateCategory.ts
  src/admin-panel/states/categoryListeners.ts
  src/admin-panel/types/category.ts
  src/common/components/inputs/AppTextInput.tsx
Due: lint, types

fix: changed required fields to optional in product types
  src/admin-panel/types/product.ts
Due: lint, types

fix: changed nav.goBack to popTo
  src/admin-panel/screens/ProductDetailScreen.tsx
Due: lint

fix: removing forgotton mockDelay
  src/admin-panel/services/updateCategory.ts
  src/common/services/mockDelay.ts
Due: lint, types

chore: instructions for copilot
  .github/copilot-instructions.md
Due: none

refactor: refactored category state logic
  src/admin-panel/components/category-list-header/CategoryListHeader.styles.ts
  src/admin-panel/components/category-list-header/CategoryListHeader.tsx
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/states/categoryListeners.ts
  src/admin-panel/states/categorySlice.ts
Due: lint, types

feat: added refresh and load more functionality to category screen
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/services/readCategories.ts
  src/admin-panel/states/categoryListeners.ts
  src/admin-panel/states/categorySlice.ts
Due: lint, types

refactor: renamed reload to retry
  src/admin-panel/screens/CategoryScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/common/components/feedbacks/FullscreenLoading.tsx
  src/common/components/feedbacks/FullscreenRetry.tsx
Due: lint

refactor: moved category form logic into hook
  src/admin-panel/hooks/useCategoryForm.ts
  src/admin-panel/screens/CategoryFormScreen.tsx
Due: lint, types

feat: added product form screen
  src/admin-panel/hooks/useCategoryForm.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductFormScreen.tsx
  src/admin-panel/screens/ProductScreen.tsx
  src/admin-panel/screens/formScreen.styles.tsx
  src/admin-panel/services/readProducts.ts
  src/admin-panel/states/productSlice.ts
  src/admin-panel/types/product.ts
  src/common/components/inputs/AppTextInput.tsx
  src/common/navigation/adminPanelNavigator.tsx
Due: lint, types

chore: better typing
  src/admin-panel/types/category.ts
Due: lint, types

feat: added stock amount to product form
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductFormScreen.tsx
Due: lint, types

feat: added dropdown input and added stock type label to product form
  src/admin-panel/constants/stockTypeLabels.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductFormScreen.tsx
  src/common/components/inputs/Dropdown.styles.ts
  src/common/components/inputs/Dropdown.tsx
Due: lint, types

feat: added price to productform
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductFormScreen.tsx
Due: lint, types

feat: added currency input and keyboard avoidance
  src/admin-panel/constants/currencies.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/ProductFormScreen.tsx
  src/admin-panel/screens/formScreen.styles.tsx
Due: lint, types

feat: keyboard avoidance (forgot to stage)
  src/common/components/inputs/AppTextInput.tsx
Due: lint

fix: forgotton key in a list item
  src/admin-panel/screens/ProductDetailScreen.tsx
Due: lint

fix: android keyboard behavior
  app.json
Due: none

refactor: extracted label and error from input components
  src/common/components/inputs/AppSwitch.styles.ts
  src/common/components/inputs/AppSwitch.tsx
  src/common/components/inputs/AppTextInput.styles.ts
  src/common/components/inputs/AppTextInput.tsx
  src/common/components/inputs/Dropdown.styles.ts
  src/common/components/inputs/Dropdown.tsx
  src/common/components/inputs/ErrorText.styles.ts
  src/common/components/inputs/ErrorText.tsx
  src/common/components/inputs/Label.styles.ts
  src/common/components/inputs/Label.tsx
Due: lint, types

refactor: extracted categorypills component from productdetailscreen
  src/admin-panel/components/category-pills/CategoryPills.styles.ts
  src/admin-panel/components/category-pills/CategoryPills.tsx
  src/admin-panel/screens/ProductDetailScreen.styles.ts
  src/admin-panel/screens/ProductDetailScreen.tsx
Due: lint, types

feat: setup category input
  src/admin-panel/components/category-input/CategoryInput.styles.ts
  src/admin-panel/components/category-input/CategoryInput.tsx
  src/admin-panel/screens/ProductFormScreen.tsx
Due: lint, types

feat: completed category search input
  src/admin-panel/components/category-input/CategoryInput.styles.ts
  src/admin-panel/components/category-input/CategoryInput.tsx
  src/admin-panel/components/category-input/CategorySearch.styles.ts
  src/admin-panel/components/category-input/CategorySearch.tsx
  src/admin-panel/components/category-pills/CategoryPills.styles.ts
  src/admin-panel/hooks/useProductForm.ts
  src/admin-panel/screens/CategoryDetailScreen.tsx
  src/admin-panel/screens/ProductDetailScreen.tsx
  src/admin-panel/screens/ProductFormScreen.tsx
  src/admin-panel/services/searchCategories.ts
  src/common/components/feedbacks/FullscreenLoading.tsx
  src/common/components/inputs/AppTextInput.tsx
  src/common/components/separator/Separator.styles.ts
  src/common/components/separator/Separator.tsx
  src/common/services/useService.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
